$font-stack: Helvetica,sans-serif;

//color
$primary-font-color:#333;
$light-base:#fff;
$orange-base:#EA6F5A;
$bg-base:#f1f1f1;
//font
$font-size-base:14px;
$font-size-17:17px;
body{
    font-family:$font-stack;
    color: $primary-font-color;  
    font-size: $font-size-17;   
    min-width: 768px;
}
body,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
ul,li,ol,a{
    text-decoration: none;
}
body,html{
    height: 100%;
    background-color: $bg-base;
}
*{
    box-sizing: border-box;
}
.container{
    height: 100%;
    text-align: center;//设置水平居中
    &:before{
        content: '';
        height: 85%;
        display: inline-block;
        vertical-align: middle;
    }
    .logo{
        position: absolute;
        top: 50px;
        left: 40px;
        color: $orange-base;
    }
}
.login_panel{
    width:400px;
    background-color: $light-base;
    padding: 40px;
    margin:60px auto 0;
    vertical-align: middle;
    display: inline-block;
}